* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: black;
    height: 60px;
    display: flex;
}

header img {
    float: left;
    height: 150px;
    width: auto;
    margin: 10px;
    margin-right: 40px;
}

a {
    float: right;
    text-align: center;
    color: white;
    font-family: 'Lato';
    font-size: 50px;
    margin-right: 100px;
    padding: 8px 16px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(99, 7, 7);
    color: black;
    text-decoration: underline;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: merriweather;
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-family: 'lato';
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.card {
    background-color: #8b0000;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    width: 25%;
    font-family: 'lato';
    text-align: center;
}

.card ul {
    list-style-type: none;
    font-size: 40px;
}

.card li {
    background-color: #b22222;
    color: white;
    padding: 10px;
    margin: 5px 0;
    font-size: 30px;
    border-radius: 5px;
}



