*{
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: black;
    height: 60px;
    display: flex;
}

header img {
    float: left;
    height: 150px;
    width: auto;
    margin: 10px;
    margin-right: 40px;
}

a {
    float: right;
    text-align: center;
    color: white;
    font-family: 'Lato';
    font-size: 50px;
    margin-right: 100px;
    padding: 8px 16px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(99, 7, 7);
    color: black;
    text-decoration: underline;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Merriweather';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
}

h2 {
    float: right;
    font-family: 'Merriweather';
    text-align: center;
    width: 50%;
    font-size: 40px;
    margin-bottom: 5px;
}

p {
    font-family: 'lato';
    text-align: justify;
    width: 45%;
    font-size: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

img {
    float: left;
    width: 50%;
    height: auto;
}