* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: black;
    height: 60px;
    display: flex;
}

header img {
    float: left;
    height: 150px;
    width: auto;
    margin: 10px;
    margin-right: 40px;
}

a {
    float: right;
    text-align: center;
    color: white;
    font-family: 'Lato';
    font-size: 50px;
    margin-right: 100px;
    padding: 8px 16px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(99, 7, 7);
    color: black;
    text-decoration: underline;
}

body {
    background-color: black;
    font-family: 'lato';
    color: white;
}

main {
    margin-top: 30px;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Marriweather';
    font-size: 75px;
}

p {
    text-align: center;
    font-family: 'lato';
    font-size: 30px;
    margin-bottom: 20px;
}

#galeria-imagens {
    justify-content: center;
    padding: 20px;
}

.galeria img {
    float: left;
    width: 30%;
    height: auto;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-bottom: 3px;
    border-radius: 8px;
}
